.logo-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  cursor: pointer;
}

.logo {
  height: 100px; /* Increase the size */
  width: 100px; /* Make the width equal to height for circular shape */
  border-radius: 100%; /* Make the logo circular */
  object-fit: cover; /* Ensure the logo fits within the circular shape */
}
